﻿@model IEnumerable<Film>

<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 info-block">
        <h4 class="text-center">Выберете фильм:</h4>
        <ul>
            @foreach (var f in Model)
            {
                <li>
                    <h4>
                        <a href="/FilmSession/SessionList?cID=@ViewBag.cinemaID&fID=@f.FilmID">
                            @f.Name
                        </a>
                    </h4>
                    <p>@f.Story</p>
                </li>
            }
        </ul>
    </div>
    <div class="col-xs-3"></div>
</div>

