﻿@model CinemaRoomModel

<div>
    <div class="row">
        <div class="col-xs-3">
            <label style="font-size: 130%">
                "@Model.Film.Name"
            </label>
        </div>
        <div class="col-xs-2">
            <label style="font-size: 130%">
                @Model.CinemaRoom.Name
            </label>
        </div>
        <div class="col-xs-7" style="font-size: 130%">
            <label>Ваши места:</label>
            <span data-ui-item="result"></span>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-2">
            <div>
                <label>Свободно</label>
                <div class="row1">
                    <div class="place noSelected" data-ui-elem="place">
                    </div>
                </div>
                <label>Выбрано</label>
                <div class="row1">
                    <div class="place selected" data-ui-elem="place">
                    </div>
                </div>
                <label>Занято</label>
                <div class="row1">
                    <div class="place reserved" data-ui-elem="place">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            @for (var r = 1; r <= Model.CinemaRoom.Row; r++)
            {
                <div class="row1">
                    @for (var s = 1; s <= Model.CinemaRoom.SeatInRow; s++)
                    {
                        if (Model.Reserves
                            .Where(res => res.ReserveSeats
                            .Any(rs => rs.Row == r && rs.SeatNum == s)).Count() == 0)
                        {
                            <div class="place noSelected" data-ui-elem="place">
                                <span class="rowNum">@r</span>
                                <span class="seatNum">@s</span>
                            </div>
                        }
                        else
                        {
                            <div class="place reserved" data-ui-elem="place">
                                <span class="rowNum">@r</span>
                                <span class="seatNum">@s</span>
                            </div>
                        }
                    }
                </div>
            }
        </div>
        <div class="col-xs-3">
            <div>
                <form role="form" id="form" action="/Reserve/Page" method="post" style="display:none">
                    <input style="display:none;" name="sessionID" value=@Model.SessionID />
                    <input style="display:none;" name="reserve" data-ui-elem="reserveArr" value="" />
                    <div class="form-group">
                        <label>Ваш e-mail для получения билетов: </label>
                        <input type="email" class="form-control" name="email" value="@User.Identity.Name" placeholder=""/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Принять" id="buttonAccept" />
                        <input type="button" class="btn btn-default pull-right" value="Отменить" id="buttonCancel" />
                    </div>
                </form>
                <input type="button" class="btn btn-primary" value="Забронировать" id="buttonReserve" disabled/>
            </div>    
        </div>
    </div> 
</div>


