﻿.body-content {
    margin-top: 70px;
}

.selected {
    background-color: #136c9a;
}

.noSelected {
    background-color: #10dcf8;
}

.reserved {
    background-color: #5d7c7e;
}

.label-font-size {
    font-size: 130%;
}

.row1 {
    white-space: nowrap
}

    .row1 .place {
        display: inline-block;
        border: 1px solid black;
        border-radius: 4px;
        width: 42px;
        height: 42px;
        font-size: 14px;
        position: relative;
        margin: 2px;
    }

.place {
    cursor: pointer;
}

    .place span.rowNum {
        position: absolute;
        margin: 2px;
        top: -2px;
        left: 1px;
        font-size: inherit;
    }

    .place span.seatNum {
        position: absolute;
        margin: 2px;
        right: 2px;
        bottom: -2px;
        font-size: inherit;
    }

.info-block {
    border: 1px solid #546975;
    border-radius: 10px;
    padding: 4px 12px 2px 4px;
    margin: 3px;
}

.film-image {
    width: 230px;
    height: 124px;
}

@media (max-width: 991px) {
    
}

.film-image-panel {
    text-align: center;
}

.film-image-panel h4,
.film-image-panel img {
    padding-left: 20px;
}

.film-story-panel {
    padding-left: 20px;
}

.film-story-panel p {
    text-indent: 1.5em;
    text-align: justify;
}

.film-row {
    padding-bottom: 15px;
}

.parent-block {
   /* width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;*/
}

.block {
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.cinema-item {
    padding-left: 20px
}

.table {
    max-width: 500px;
}

.table td,
.td-index {
    width: 1%;
    white-space: nowrap;
}

.reserved-table {
    max-width: 100%;
}

.reserved-table.table > tbody > tr > td {
    padding: 15px 5px 15px 10px;
}