﻿@using Microsoft.AspNetCore.Identity
@model List<LW1.ViewModels.ProjectViewModel>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "";
}


@if (SignInManager.IsSignedIn(User))
{
    @if (Model.Any())
    {
        <div class="row"><h3>Ваши проекты</h3></div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название проекта</th>
                        <th>Количество ключевых слов</th>
                        <th>Последний срез</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var elem = Model.ElementAt(i);
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@elem.Name</td>
                            <td>@elem.KeyWords.Count</td>
                            @if (elem.LastSelection.HasValue)
                            {
                                <td>@elem.LastSelection.Value.ToLongDateString()</td>
                            }
                            else
                            {
                                <td>Срез не выполнен</td>
                            }
                            <td style="text-align:right"><a asp-route-id="@elem.Id" asp-controller="Project" asp-action="ViewProject" style="padding-right:5px"><i class="fas fa-search"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="row" style="text-align:center">
            <h3>У вас пока нет проектов!</h3>
            <a asp-controller="Project" asp-action="CreateProject">Создать проект</a>
        </div>
    }
}
else
{
    <div class="row" style="text-align:center">
        <h3>Войдите в систему, что бы увидеть свои проекты.</h3>
    </div>
}

