﻿@model CinemaFilmModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="row">
    <div class="col-md-12 info-block">
        <h2 class="text-center">Сегодня в кино:</h2>
        <hr />
            @foreach (var f in Model.Films)
            {      
                <div class="row film-row">
                    <div class="col-md-3 film-image-panel">
                        <h4><a href="/CinemaList/List?id=@f.FilmID">@f.Name</a></h4>
                        <img src="@f.Image" class="film-image" />
                    </div>
                    <div class="col-md-7 film-story-panel">
                        <p style="padding-top:35px">
                            @f.Story
                        </p>
                    </div>
                </div>    
                <hr />
            }
    </div>
</div>