﻿@model LW1.CreateModels.ProjectCreateModel

@{
    ViewData["Title"] = "";
}

<div class="row">
    <h1>Создание нового проекта</h1>
</div>
<div class="row">
    <form asp-controller="Project" asp-action="NewProject" method="post" class="create-form">
        <div class="form-group">
            <label asp-for="Name">Название проекта</label>
            <input asp-for="Name" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="MainUrl">Домен</label>
            <input asp-for="MainUrl" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="KeyWords">Ключевые запросы</label>
            <textarea asp-for="KeyWords" class="form-control" rows="10" style="resize:none"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Создать проект</button>
        </div>
    </form>
</div>
