﻿@model LW1.ViewModels.ProjectViewModel

@{
    ViewData["Title"] = "";
    var lastSelection = Model.Selections.OrderBy(x => x.DateSelection).LastOrDefault();
    var selectionKeyWords = lastSelection?.SelectionKeyWords;
}

<div class="row">
    <h3>Проект: @Model.Name - <a>@Model.MainUrl</a></h3>
</div>
@if (Model.Selections.Any())
{
    <div class="row">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ключевое слово</th>
                    @for (int i = 0; i < 50; i++)
                    {
                        <th class="table-th">@(i + 1)</th>
                    }
                    <th>Лучшая позиция</th>
                    <th>Динамика</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < selectionKeyWords.Count(); i++)
                {
                    var sKeyWord = selectionKeyWords.ElementAt(i);
                    var urls = sKeyWord.SelectionUrls;
                    urls = urls.OrderBy(x => x.Order).ToList();
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@sKeyWord.KeyWord.Value</td>
                        @for (int j = 0; j < urls.Count; j++)
                        {
                            <td style="padding:0">
                                @if (urls.ElementAt(j).Marked)
                                {
                                    <div style="background-color:red;padding:8px"></div>
                                }
                                else
                                {
                                    <div style="padding:8px"></div>
                                }
                            </td>
                        }
                        <td>@(sKeyWord.BestPosition + 1)</td>
                        <td>@(sKeyWord.IsUp.HasValue ? sKeyWord.IsUp.Value ? "+" : "-" : "") @sKeyWord.Offset</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="row" style="text-align:center">
        <h3>Выполнение первого среза...</h3>
    </div>
}
