@using Microsoft.AspNetCore.Identity
@using CinemaNet.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("admin"))
    {
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="FilmList" title="Manage">Панель управления</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Выйти</button>
                </li>
            </ul>
        </form>
    }
    else
    {
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Личный кабинет</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Выйти</button>
                </li>
            </ul>
        </form>      
    }                 
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Войти</a></li>
    </ul>
}
