﻿@model ReserveCompleteInfo

<div>
    <div class="block info-block" style="padding:10px;font-size:150%;width:597px">
        <table class="table table-hover">
            <tr>
                <td><label>Кинотеатр: </label></td>
                <td>@Model.CinemaName</td>
            </tr>
            <tr>
                <td><label>Фильм: </label></td>
                <td>"@Model.FilmName"</td>
            </tr>
            <tr>
                <td><label>Дата: </label></td>
                <td>@Model.SessionDate</td>
            </tr>
            <tr>
                <td><label>Время: </label></td>
                <td>@Model.SessionTime</td>
            </tr>
            <tr>
                <td><label>Зал: </label></td>
                <td>@Model.CinemaRoomName</td>
            </tr>
            <tr>
                <td><label>Места: </label></td>
                <td>@Model.ReserveSeats</td>
            </tr>
            <tr>
                <td><label>Номер брони: </label></td>
                <td>@Model.ReserveID</td>
            </tr>
            <tr>
                <td><label>Статус: </label></td>
                <td style="color:#00ff21">@Model.ReserveStatus</td>
            </tr>
        </table>
        <div style="display:flex; align-items: center; justify-content: center">
            <a class="btn btn-primary" href="/Home/Index">Вернуться на главную</a>
        </div>
    </div>
</div>