﻿@model IEnumerable<Cinema>

<div class="parent-block">
    <div class="info-block block">
        <h4 class="text-center">Выберете кинотеатр:</h4>
        @foreach (var c in Model)
        {
            <div class="cinema-item">
                <h4>
                    <a href="/FilmSession/SessionList?cID=@c.CinemaID&fID=@ViewBag.filmID">
                        @c.Name
                    </a>
                </h4>
                <p>
                    <span class="ymaps-geolink">@c.Address</span>
                </p>
            </div>
        }
    </div>
</div>
