﻿@using CinemaNet.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

@if (User.IsInRole("admin"))
{
    <ul class="nav nav-pills nav-stacked">
        <li class="@ManageNavPages.FilmList"><a asp-action="FilmList">Список фильмов</a></li>
        <li class="@ManageNavPages.WorkPanel"><a asp-action="WorkPanel">Добавить фильм</a></li>
    </ul>
}
else
{
    <ul class="nav nav-pills nav-stacked">
        <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Профиль</a></li>
        <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Изменить пароль</a></li>
        <li class="@ManageNavPages.ViewReservedTickets(ViewContext)"><a asp-action="ReservedTickets">Ваши билеты</a></li>
    </ul>
}