﻿@model List<Film>
@{
    ViewData["Title"] = "Список фильмов";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="td-index">ID</th>
                    <th>Название фильма</th>
                    <th>Премьера</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var film in Model)
                {
                    <tr>
                        <td>@film.FilmID</td>
                        <td>@film.Name</td>
                        <td>@film.Premiere</td>
                        <td><button type="button" class="btn btn-default" value="@film.FilmID" name="removeFilmBtn">x</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>