﻿@model List<ReservedTicketViewModel>
@{
}

<div>
    <table class="table table-hover reserved-table">
        <thead>
            <tr>
                <th>Название фильма</th>
                <th>Дата</th>
                <th>Места</th>
                <th>Кинотеатр</th>
                <th>Адрес кинотеатра</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rt in Model)
            {
                <tr>
                    <td>@rt.FilmName</td>
                    <td>@rt.Date</td>
                    <td>@rt.Seats</td>
                    <td>@rt.CinemaName</td>
                    <td><span class="ymaps-geolink">@rt.CinemaAddress</span></td>
                </tr>
            }
        </tbody>
    </table>

</div>