﻿@model CreateFilmViewModel
@{
    ViewData["Title"] = "Добавление нового фильма";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="AddFilm" asp-controller="Manage">
            <div class="form-group">
                <label>Название фильма</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label>Страна</label>
                <input asp-for="Production" class="form-control" />
            </div>
            <div class="form-group">
                <label>Жанр</label>
                <input asp-for="Genre" class="form-control" />
            </div>
            <div class="form-group">
                <label>Продюсер</label>
                <input asp-for="Director" class="form-control" />
            </div>
            <div class="form-group">
                <label>Премьера</label>
                <input asp-for="Premiere" class="form-control" />
            </div>
            <div class="form-group">
                <label>Продолжительность</label>
                <input asp-for="Duration" class="form-control" />
            </div>
            <div class="form-group">
                <label>Описание</label>
                <textarea asp-for="Story" class="form-control" rows="5" style="resize:none"></textarea>
            </div>
            <div class="form-group">
                <label>Ссылка на картинку</label>
                <input asp-for="Image" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">Добавить фильм</button>
        </form>
    </div>
</div>