﻿@model IEnumerable<FilmSession>

<div class="row">
    <div class="col-xs-3">
        <label class="label-font-size">@Model.ElementAt(0).Cinema.Name</label><br />
        <span class="ymaps-geolink">@Model.ElementAt(0).Cinema.Address</span>
    </div>
    <div class="col-xs-5">
        <label class="label-font-size">Фильм: "@Model.ElementAt(0).Film.Name"</label>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-9">
        <div class="table-responsive">
            <h4>Выбор сеанса:</h4>
            <table class="table table-hover">
                <tbody>
                    @{ string[] date = { "10.12.2017, ВС", "11.12.2017, ПН", "12.12.2017, ВТ" }; }
                    @foreach (string d in date)
                    {
                        <tr>
                            <td>@d.Substring(d.Length - 2), @d.Substring(0, 6)</td>
                            @foreach (var s in Model.Where(dt => dt.Date == d).OrderBy(t => t.Time))
                            {
                                <td><a href="/CinemaRoom/Room?sessionID=@s.FilmSessionID">@s.Time</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
